body{

    background-color: cyan;
    text-align: center;

   

}

 

.card {

    height: 400px; /* Altura fija para todas las tarjetas */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaciao interno */

}

 

.card-img-top {

    height: 180px; /* Altura fija para todas las imágenes */
    object-fit: cover; /*la imagen cubre todo el espacio */

}

 

.card-body {

    flex-grow: 1; /* la tarjeta ocupe el espacio restante */

}

 

/* div:hover{

    cursor: pointer;

    transform: scale(1.05);

 

} */